html{
    background-color: #ccc;
    font-size: 32px;
}

/* 1 em = 16px */

body{
    background-color: blueviolet;
    width: 50%;
    font-size: 3rem;
}

.pai{
    background-color: #ea80fc;
    width: 50%;
    font-size: 1.5rem;
}

.filha{
    background-color: #1de9b6;
    width: 50%;
    font-size: 0.5rem;
}

/* rem pega o valor inicial e vai fazendo as divisões indicadas */

