*{
    margin: 0;
    padding: 0;
}

ul{
    list-style-image: url('./src/icones/icone.png');
    list-style: square inside url('./src/icones/icone.png');
    background-color: bisque;
}

ul li{
    border: 1px solid;
    padding: 10px;
}

ol{
    list-style-image: url('./src/icones/icone.png');
    list-style: square inside url('./src/icones/icone.png');
    background-color: aliceblue;
}

ol li{
    border: 1px solid;
    padding: 10px;  
}