body{
    background-color: #E1E2E1;
}

.cabecalho{
    padding: 10px 5px;
}

.cabecalho .logo{
    display: inline-block;
}

.cabecalho nav{
    float: right;
}

.cabecalho nav li{
    display: inline-block;
    padding: 15px;
}

main{
    background-color: white;
    padding: 30px;
    /* width: 900px; */
    min-width: 320px;
    max-width: 900px;
    margin: 0 auto; /* fiza zero acima, zero abaixo, e o auto divide as laterais por igual */
}

main .info{
    font-size: 18px;
}

main p{
    font-size: 16px;
}

.image img{
    width: 100%;
}